.title-div {
    color: #0B1C2C;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.08px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}